@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark-color-primary: #252422;
  --text-dark-color: #f5f3f4;
}

body {
  position: relative;
  display: flex;
}

.page {
  background-color: var(--background-dark-color-primary);
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  color: var(--text-dark-color);
}

input:focus,
input:active,
select:focus {
  outline: none;
}

@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3b3a36;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-dark-color);
  }
}
